$base-white: #fff !default;
$base-black: #000 !default;
$base-grey: #111 !default;
$base-orange: #fe9867 !default;
$alt-orange: #ff7f21 !default;

:root {
  --base-white: #{$base-white};
  --base-black: #{$base-black};
  --base-grey: #{$base-grey};
  --base-orange: #{$base-orange};
  --alt-orange: #{$alt-orange};
}